@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

*{
    border:0;
    font:inherit;
    font-size:1em;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body{
    /* background-color: #fafafa; */
    background-color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
    color: #505050;
    text-align: left;
    /* text-justify: inter-word; */
    font-family:'Roboto',sans-serif;
    font-size:1.12em;
    line-height:1.5em;
    margin: 0px 0px;
    width: 1000px;
    text-align:justify;
}

/* a{color: #b8860b; text-decoration:none;}
a.current{color: #52739e;} */
a{color: #b8860b; text-decoration:none;}
a.current{color: #52739e;}
a.current:hover{color: #e82945;}
a:hover{color: #b2132e;}
a:active{color: #e82945;}
h1,h2,h3,h4{clear:left; clear:right; color: #0f0640; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;}
/* h1,h2,h3,h4{clear:left; color: #813c54; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;} */
h1{font-size:2.67em;}

h2{font-size:2.00em;}
h3{font-size:1.67em;}
h4{font-size:1.33em;}
p{list-style:none; margin:24px 24px 40px 40px; padding:0px; width:900px; text-align:inherit;}
/* p{list-style:none; margin:24px 24px 40px 40px; padding:0px; width:900px; text-align:justify;} */

/* p{list-style:none; margin:24px auto 24px auto; padding:0px; width:900px; text-align:left;}*/

li a, p a {text-decoration:underline; text-decoration-color:#b8860b;}
ul{list-style:none; margin:24px auto 24px auto; padding:0px; width:800px; text-align:left;}
ul li{list-style:none; margin:0px auto 0px auto; padding:0px; text-align:left;}
i,em{font-style:italic;}
b,strong{font-weight:bold;}
sup{
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}
sub{
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0;
}
table{
    width: 1000px;
    margin: 12px auto 12px auto;
    float: center;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}
th,td{
    text-align: left;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}

/* Website Banner */
.banner {position: relative; font-family:'Roboto Slab',serif;}
.top-left {font-size:3.50em; color: #505050; background: #fafafa; text-align: center; width: 1000px; height: 67px; position: absolute; padding: 36px 0 0 0; top: 0px;}
.bottom-right {font-size:2.13em; color: #fafafa; line-height: 1.27em; width: auto; height: 100px; padding: 0px 27px 27px 0px; text-align: right; position: absolute; bottom: 0px; right: 0px; text-shadow: 0px 0px 6px #000000;}

/* Conference Title Logo */
.title1{color: #b22234; text-shadow: 1px 1px 3px #c0c0c0;}
.title2{color: #3c3b6e; text-shadow: 1px 1px 3px #c0c0c0;}
/* .title1{color: #b2132e; text-shadow: 1px 1px 3px #c0c0c0;}
.title2{color: #52739e; text-shadow: 1px 1px 3px #c0c0c0;} */
.year{color: #505050; font-size:0.67em; font-weight: lighter;}

/* Navigation Links (Home, Registration, etc) */
table.navigation{width:1000px;}
td.navigation{font-size:1.00em; white-space:nowrap; width:5%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}

/* Sponsor Images */
table.sponsors{width:1000px;}
td.sponsor{white-space:nowrap; width:33%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
td.sponsor img{width: 100%}

/* The Table on the Program Page */
td.room{padding: 4px 6px 4px 4px; width: 90%; vertical-align:bottom; font-size:1.67em; color: #00375d; height:16px;}
td.date{white-space:nowrap; width:130px; text-align:right; vertical-align:top; padding:4px 16px 0px 0px;}
td.title{padding: 4px 12px 4px 4px; width: 90%; vertical-align:top; font-size:1.5em; color: #813c54; height:32px; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0; }
td.title-special{padding: 4px 12px 4px 4px; width: 90%; vertical-align:top; font-size:1.67em; color: #52739e; height:32px; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;}
td.speaker{padding: 4px 12px 4px 4px; font-style: italic; font-size:1em; max-height:999999px}
td.abstract{padding: 4px 12px 12px 4px; font-size:1em; max-height:999999px}
td.abstract img{display: block; margin: 4px auto 8px auto}
table.plenary{padding-top: 8px; background: #ffffff;}


/* My hacky way of making the site mobile-friendly */
@media only screen and (max-width: 800px) {
    h2{font-size:3.00em; text-align:left;}
    p{list-style:none; margin:24px 24px 40px 40px; padding:0px; width:800px; text-align:left;}
    /* p{font-size:1.5em; line-height:1.2em; text-align:left;} */
    th,td,tr{font-size:1.5em; line-height:1.2em; text-align:left;}
    td.date{font-size:1em; padding-top:0.5em;}
    td.navigation{font-size:1.5em; padding:0px 20px 0px 20px;}
    table.footer{font-size:0.33em;}
    ul li{text-align:left;}
}


